*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'EB Garamond', serif;
}
.navbar{
    display:flex;
    align-items: center;
    background: rgba(255, 182, 193, 0.488);
    box-shadow: 0 2px 5px 0 #7b5d9c;
    padding: 30px;
    position: sticky;
    top: 0;
    left: 0;
}
.navbar a:hover {
    background: transparent;
    color: #FFBEAA;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: black;
    padding: 10px 18px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.logo h1{
    font-size: 40px;
    color: #2F0D32;
    font-style: oblique;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    font-size: 20px;
    padding-top: 10px;
    display: inline-block;
    margin-right: 20px;
}
a, button{
    text-decoration: none;
    color: black;
    transition: all 0.5s ease;
}
nav ul a:hover{
    color: #E75F61;
    text-shadow: 0 10px 0 10px #FFBEAA;
}
.navbar button:hover{
    background: transparent;
    color: #FFBEAA;   
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.row{
    display: flexbox;
    align-items: center;
    flex-wrap: nowrap;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding-top: 2rem;
}
.col-2 h1{
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    color: #3B2C4B;
}
.col-2 img{
    display: flexbox;
    height: 400px;
    width: 400px;
    justify-content: center;
    border: 5px solid #3B2C4B;
}
.btn{
    display: inline-block;
    background: #FFBEAA;
    padding: 10px 40px;
    margin: 30px 0;
    font-size: 18px;
    border-radius: 30px;
    transition: all 0.5s ease;
}
.btn:hover{
    background: #3B2C4B;
}
header{
    background: radial-gradient(lightpink, lightblue);
}
.wishlist{
    margin-right: 10px;
}
.categories{
    margin: 70px 0;
}
.categories .col-3 {
    min-width: 250px;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
    position: relative;
}

.categories .col-3 a {
    display: flexbox;
    position: relative;
}

.categories .col-3 img {
    margin: 0 2rem 3.2rem 0;
    height: 450px;
    width: 500px;
    border-top: 5px solid #E75F61;
    border-left: 5px solid #E75F61;
    border-right:5px solid #3B2C4B;
    border-bottom: 5px solid #3B2C4B;
    position: relative; 
}

.categories .col-3 button {
    display: inline-block;
    background: lightsteelblue;
    padding: 10px 40px;
    margin: 0 auto; 
    border-color: #3B2C4B;
    border-radius: 30px;
    transition: all 0.5s ease;
    position: absolute; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%);
    transition: all 0.5s ease;
}
.categories .col-3 button:hover{
    background: #FFBEAA;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .h3{
    font-size: 20px;
    padding-bottom: 20px;
}
footer p{
    font-size: 17px;
    margin: 0 0 8px 0;
}
footer a{
    display: flex;
    font-size: 17px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}
footer a:hover{
    color: #E75F61;
}